<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/catlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/catlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Library">
        <activity
            android:name=".WebActivity"
            android:exported="false" />
        <activity
            android:name=".FavCourses"
            android:exported="false"
            android:label="@string/activity_fav_Course"/>
        <activity
            android:name=".CurrentReading"
            android:exported="false"
            android:label="@string/activity_Ongoing_Courses"/>
        <activity
            android:name=".Wishlist"
            android:exported="false"
            android:label="@string/activity_Whishlist"/>
        <activity
            android:name=".AlreadyReadCourses"
            android:exported="false"
            android:label="@string/activity_Completed_Courses"/>
        <activity
            android:name=".coursesdetails"
            android:exported="false"
            android:label="@string/activity_courses"/>
        <activity
            android:name=".AllcourseActivity"
            android:exported="false"
            android:label="@string/activity_all_courses"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>